<% if logged_in? %>

<% elsif %>
  <script type="text/javascript">
    window.location.href="/users/index"
  </script>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <% if !@daily_item.nil? then %>
      <% if !@daily_item.created_at.nil? then %>
        <h1 class="text-center"><%= @daily_item.created_at.yesterday.strftime("%Y/%m/%d") %></h1>
      <% end %>
      <%= @daily_item.content %>
      <% if !@daily_item.content.nil? then %>
        <!-- ¥br で分割したテキスト配列をforループでmarkdownかける -->
        <div class="center-block" style="margin-top: 50px; width: 500px; background-color: #FFFFFF;">
          <% @daily_item.content.each_line do |line| %>
            <%= markdown(text_url_to_link(simple_format(line)).html_safe) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
