<!-- session tokeの確認 -->
<% if logged_in? %>
  <script type="text/javascript">
    window.location.href="/diary"
  </script>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="center-block">
      <img src="<%= asset_path "malmBackground.png" %>" class="img-responsive center-block" alt="Responsive image" style="background-repeat:no-repeat;
-moz-background-size:auto;
background-size:auto;
width:70%;
height:70%;">
    </div>
  </div>
  <div class="row-fluid">
    <div class="center-block" style="margin-top:30px;">
      <h1 class="text-center main-text tlt">Many A Little Makes</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="center-block" style="width: 300px; margin-top:50px;">
      <button class="btn btn-lg btn-block btn-primary signup-button center-block" type="button" onclick="location.href='/signup'">SIGN UP FOR FREE</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 first-band">
      <p class="text-center band-text">プライベートなメモツール</p>
      <div class="row" style="margin-top:20px;">
        <img src="<%= asset_path "house.png" %>" class="band-img center-block" alt="Responsive image" style="">
      </div>
      <p class="text-center" style="padding-top:40px; color: white;">
        “Many a little makes” は手軽に細かくメモを残すことをコンセプトとしています。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 second-band">
      <p class="text-center band-text">分報を日報に</p>
      <div class="row" style="margin-top:20px;">
        <img src="<%= asset_path "band-image.png" %>" class="img-responsive center-block" alt="Responsive image" style="">
      </div>
      <p class="text-center" style="padding-top:40px; color: white;">
        細かい粒度で残したメモ（分報）はその日の終わりに自動的に1日分のメモ（日報）としてまとめられます。
      </p>
    </div>
  </div>

<script type="text/javascript">
  $('.tlt').textillate({
   loop: true
  });
</script>
