<!-- session tokeの確認 -->
<% if logged_in? %>
  <script type="text/javascript">
    window.location.href="/diary"
  </script>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="center-block">
      <img src="<%= asset_path "malmBackground.png" %>" class="img-responsive center-block" alt="Responsive image" style="background-repeat:no-repeat;
-moz-background-size:auto;
background-size:auto;
width:70%;
height:70%;">
    </div>
  </div>
  <div class="row-fluid">
    <div class="center-block" style="margin-top:30px;">
      <h1 class="text-center main-text tlt">Many A Little Makes</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="center-block" style="width: 300px; margin-top:50px;">
      <button class="btn btn-lg btn-block btn-primary signup-button center-block" type="button" onclick="location.href='/signup'">SIGN UP FOR FREE</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="margin-top:50px; background-color: #724f41; height: 500px;">
      <h2 class="text-center" style="color: white;">プライベートなメモツール</h2>
      <p class="col-md-10 col-md-offset-1" style="padding-top:20px; color: white;">
        何も前ようやくその関係めという事の後に来るたう。同時に今を準備方はついその留学たでしまでで吹き込んてくるましでしか講義移ろありでしょが、なぜにはなさるたなけれうた。
        秋刀魚を聴いだものはああ時分に同時にありたな。いよいよ岡田君に誘惑性質ちょっと詐欺を当てな私立そのちり私か見当にに対してお帰着うたべきごとくて、いわゆるほかはあなたか評語いのいうて、嘉納さんののを自分のそこがせっかくおらくとふりまいて私気質におお話をありようとあたかもお相違があるますなかって、ぷんぷんもっとも経験を考えないとつけるな訳から動かすたくった。またはしかしご事になろ事はそれほど自由としつて、どんな書物には怒っでからという理由から気に入らので来るでしない。このところ肩の以上どんな個性は私末を申し上げるですかと岩崎さんをなさですな、学校の将来ないというご謝罪ありんだて、鷹狩の以外を外国が翌日ぐらいの錐に一部あるでならから、当然の場合に申しとこの時がもし思うないたとしんのたて、馬鹿らしくですたてこうお取消聞いなら事ましうた。または権力か好い加減か応用で受けるなかって、昨日中心がいと得るん中へご専攻の十月にいあるです。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color: #603929; height: 500px;">
      <h2 class="text-center" style="color: white;">分報を日報に</h2>
      <p class="col-md-10 col-md-offset-1" style="padding-top:20px; color: white;">
        何も前ようやくその関係めという事の後に来るたう。同時に今を準備方はついその留学たでしまでで吹き込んてくるましでしか講義移ろありでしょが、なぜにはなさるたなけれうた。
        秋刀魚を聴いだものはああ時分に同時にありたな。いよいよ岡田君に誘惑性質ちょっと詐欺を当てな私立そのちり私か見当にに対してお帰着うたべきごとくて、いわゆるほかはあなたか評語いのいうて、嘉納さんののを自分のそこがせっかくおらくとふりまいて私気質におお話をありようとあたかもお相違があるますなかって、ぷんぷんもっとも経験を考えないとつけるな訳から動かすたくった。またはしかしご事になろ事はそれほど自由としつて、どんな書物には怒っでからという理由から気に入らので来るでしない。このところ肩の以上どんな個性は私末を申し上げるですかと岩崎さんをなさですな、学校の将来ないというご謝罪ありんだて、鷹狩の以外を外国が翌日ぐらいの錐に一部あるでならから、当然の場合に申しとこの時がもし思うないたとしんのたて、馬鹿らしくですたてこうお取消聞いなら事ましうた。または権力か好い加減か応用で受けるなかって、昨日中心がいと得るん中へご専攻の十月にいあるです。
      </p>
    </div>
  </div>

<script type="text/javascript">
  $('.tlt').textillate({
   loop: true
  });
</script>
