<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

<h1>LOGIN</h1>
<body>
  <div class="">
  <%= form_for(@user, :url => {:controller => 'users', :action => 'login'}) do |f| %>
    <div class="form-group">
      <%= f.text_field :email, class: 'form-control', :placeholder => 'email' %><br />
    </div>
    <div class="form-group">
      <%= f.text_field :password, class: 'form-control', :placeholder => 'password' %><br />
    </div>
    <%= f.submit "LOG IN", class: 'btn btn-default btn-primary' %><br />
  <% end %>
  </div>
  <br />
</body>
