<% provide(:title, 'Many a little makes') %>
<h1>投稿テスト</h1>

<div class="row">

  <div class="">
    <% if !@items.nil? then %>
      <% @items.each do |item| %>
        <p><%= item.text %></p>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item, :url => {:controller => 'items', :action => 'create'}) do |f| %>
      <%= f.text_field :text %><br />
      <%= f.submit "決定" %><br />
    <% end %>
  </div>
</div>
