<div class="container-fluid">
  <div class="row-fluid">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        日報一覧
      </a>
      <a href="#" class="list-group-item">2016/03/20</a>
      <a href="#" class="list-group-item">2016/03/19</a>
      <a href="#" class="list-group-item">2016/03/18</a>
    </div>
  </div>
</div>
